<h1>Let's Create a Cryptid!</h1>

<form method="POST" action="/cryptids">
  <label for="cryptidType">Location</label>
  <input type="text" name="img_url">

  <label for="cryptidName">Name</label>
  <input id="cryptidName" type="text" name="name">

  <input id="cryptidType" type="submit">
</form>